/* defaults */
*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 font-size: 14px;
 color: hsl(0, 0%, 100%);
}
body{
 background: hsl(218, 28%, 13%);
}
.container{
 display: grid;
 justify-content: center;
 width: 100vw;
 height: 100vh;
}
/* defaults end */


